<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome  <%= name %></p>
<p class="lead mb-3">Father Name : <%= father %></p>
<p class="lead mb-3">Address : <%= address %></p>
<p class="lead mb-3">Mobile Number : <%= mobile %></p>

<a href="/users/logout" class="btn btn-secondary">Logout</a>